.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #521751;
  height: 56px;
}

.toolbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar__logo-min {
  position: fixed;
  top: 30px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.toolbar__logo-min a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar__logo-min2 {
  position: fixed;
  top: 30px;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.toolbar__logo-min2 a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0.5rem;
}

.toolbar_navigation-items a {
  color: white;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active,
.toolbar__logo a:hover,
.toolbar__logo a:active,
.toolbar__logo-min a:hover,
.toolbar__logo-min a:active,
.toolbar__logo-min2 a:hover,
.toolbar__logo-min2 a:active {
  color: #fa923f;
}
.toolbar-btn:hover,
.toolbar-btn:active {
  background-color: #fa923f !important;
}

@media (max-width: 349px) {
  .toolbar_navigation-items,
  .toolbar__logo-min,
  .toolbar__logo {
    display: none;
  }
}

@media (min-width: 350px) and (max-width: 1059px) {
  .toolbar_navigation-items,
  .toolbar__logo,
  .toolbar__logo-min2 {
    display: none;
  }
}

@media (min-width: 1060px) {
  .toolbar__toggle-button,
  .toolbar__logo-min,
  .toolbar__logo-min2 {
    display: none;
  }
}
